services:
  grafana-loki:
    image: grafana/loki:3.6.3
    container_name: grafana-loki
    ports:
     - "3100:3100"
    restart: unless-stopped
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki-config/local-config.yaml:/etc/loki/local-config.yaml
      - ./loki-data:/tmp/loki
    
