
services:
  phpmyadmin:
    container_name: phpmyadmin
    image: phpmyadmin:5.2
    ports:
      - 30000:80
  
    environment:
      PMA_HOST: host.docker.internal
      PMA_PORT: 3308
    restart: always