# 用于构建高性能 HTTP API
fastapi
uvicorn[standard]
# *** 新增这一行 ***
python-multipart 
# ******************
# 用于图像处理和 AI 模型
Pillow
# Hugging Face 生态，实现 CLIP 模型
torch==2.3.1
torchvision==0.18.1
sentence-transformers
einops
timm

sympy==1.13.1