# 用于构建高性能 HTTP API
fastapi
uvicorn[standard]
# *** 新增这一行 ***
python-multipart 
# ******************
# 用于图像处理和 AI 模型
Pillow
# Hugging Face 生态，实现 CLIP 模型
transformers
torch
torchvision
sentence-transformers
einops
timm